aiohttp
aiosignal
asgiref
asttokens
async-timeout
attrs
backcall
blis
boto3
botocore
catalogue
certifi
charset-normalizer
click
colorama
comm
confection
contourpy
cycler
cymem
dataclasses-json
debugpy
decorator
distlib
Django
django-storages
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0-py3-none-any.whl
executing
filelock
fonttools
frozenlist
greenlet
gunicorn ==20.0.4
idna
ipykernel
ipython
jedi
Jinja2
jmespath
jupyter_client
jupyter_core
kiwisolver
langchain
langchainplus-sdk
langcodes
MarkupSafe
marshmallow
marshmallow-enum
matplotlib
matplotlib-inline
multidict
murmurhash
mypy-extensions
nest-asyncio
numexpr
numpy
openai
openapi-schema-pydantic
packaging
pandas
parso
pathy
pickleshare
Pillow
platformdirs
preshed
prompt-toolkit
psutil
pure-eval
pydantic
Pygments
pyparsing
pytz
PyYAML
pyzmq
regex
requests
s3transfer
scipy
seaborn
six
smart-open
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
sqlparse
srsly
stack-data
tabulate
tenacity
thinc
tiktoken
tornado
tqdm
traitlets
typer
typing-inspect
typing_extensions
tzdata
urllib3
virtualenv
virtualenvwrapper-win
wasabi
wcwidth
yarl
